html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

﻿.container {
    width: 100%;
    display: inline-block;
}

.header .title {
    float: left;
}

.header .welcomeMsg {
    float: right;
}

.menu {
    display: inline-block;
    margin: 20px 0px;
}

    .menu li {
        float: left;
        margin: 0px 20px;
        list-style: none;
    }

        .menu li a {
            color: blue;
            text-decoration: none;
        }

.grid {
    display: inline-block;
    width: 100%;
}

    .grid .row {
        display: inline-block;
        width: 100%;
        margin-bottom: 1px;
    }

        .grid .row .col-1 {
            display: inline-block;
            width: 150px;
        }

        .grid .row .col-2 {
            display: inline-block;
            width: 300px;
        }

        .grid .row .col-3 {
            display: inline-block;
            width: 450px;
        }
