@using Internship_Task.Entities;
@model Internship_Task.ViewModels.Top_5_Managers.IndexVM;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Top 5 Employees";
}

<h1> Top 5 Managers - ascending order of most employees</h1>
<hr />



@foreach (Manager item in Model.managers)
{
    
    <div>
        <h5>@item.FullName</h5>
        <h6>@item.Email</h6>
        <h6>@item.PhoneNumber</h6>
    </div>
    <hr />
}
